<br>
<div class="columns is-multiline">

  <div class="column is-12-desktop">
    <% if(locals.isLoggedIn) { %>
      <h2 class="has-text-centered"> Welcome back <%= locals.currentUser.username %> </h2>
      <% } else { %>
        <h1 class="has-text-centered title is-2"> BROWSE PHOTOS BELOW </h1>
        <% } %>
        <br>
        <span><a href="/posts/new"><button class="button is-focused"> Upload a new photo</button></a></span>
        <span class="content">Library count: <%= posts.length %> posts so far!</span>
        <hr>
      </div>
      <br>
      <div class="column is-1-desktop">

      </div>
      <div class="column is-8-desktop">

        <div class="columns is-multiline">
          <% posts.forEach(post => { %>
            <div class="card column is-8">
              <a href="/posts/<%= post.id %>" class="imageShadow">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img class="indexImg"src="<%= post.image %>" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="<%= post.addedBy.picture %>" alt="#">
                      </figure>
                    </div>
                    <div class="media-content">
                      <i class="far fa-heart"></i>
                      <i class="far fa-comment"></i>
                      <i class="fas fa-map-marker-alt"></i>
                      <span><p class="title is-4"> <%= post.addedBy.username %></p></span>
                    </div>
                  </div>
                  <div>
                    <p>Caption ..... <a>@<%= post.caption %></a>.</p>
                    <a href="#">#Lenzation</a>
                    <br>
                    <i class="fas fa-map-marker-alt" style="margin-right: 4px;"></i><p style="display: inline-block;"> <%= post.location %> </p>
                      <br>
                    <time><%= post.time %></time>
                  </div>
                  <footer class="card-footer">
                    <a href="#" class="card-footer-item">View profile</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                  </footer>
                </div>
              </a>
            </div>
            <% }) %>
          </div>
        </div>
        <% if(locals.isLoggedIn) { %>
          <div class="column is-2">
            <a href="/profile"
            <div class="content indexProfile">
              <p class="title is-3"></p>
              <img class="hoverBorder" id="circlePic" src="<%= locals.currentUser.picture %>" alt="#">
              <br>
              <i class="far fa-user"></i>
              <p style="display: inline-block;"> 276 </p>
            </div>
            </a>
          </div>
        <% } %>


      </div>
    </div>
