
  <br>
  <h1 class="has-text-centered"> BROWSE PHOTOS BELOW </h1>
  <p class="content">Library count: <%= posts.length %> posts so far!</p>
  <a href="/posts/new"><button class="button"> Upload a new photo</button></a>
<hr>
  <div class="columns is-5 is-multiline">
    <% posts.forEach(post => { %>
      <div class="column is-3-desktop">
        <a href="/posts/<%= post.id %>" class="imageShadow">
          <img src=<%= post.image %> alt=<%= post.username%>>
          <br>
          <p style="text-decoration: none; color: black"  class="caption"> <%= post.caption %> </p>
        </a>
      </div>
      <% }) %>
    </div>
