<div class="columns">
  <div class="column is-7-desktop">
    <br>
    <h1 class="showPageTitle"> Photo creds: <%= addedBy.username.toUpperCase() %> </h1>
    <img src="<%= image %>">
    <h3> <span style="font-weight: bold">Caption:</span> <%= caption %> </h3>
    <h4> <span style="font-weight: bold">Date taken:</span>  <%= time %> </h4>
    <h4> <span style="font-weight: bold">Location:</span> <%= location %> <%= like %></h4>
    <br>
    <% if (locals.isLoggedIn) { %>
      <form action="/posts/<%= _id%>?_method=DELETE" method="post">
        <button class=" button is-danger is-rounded">Delete this post</button>
      </form>
      <br>
      <a href="/posts/<%= _id %>/edit"<button class=" button is-primary is-rounded">Update this post</button></a>
    </div>
    <% } %>
    <div class="column is-5-desktop">
      <br>
      <div class="postComments">
        <% if (locals.isLoggedIn) { %>
          <form method="POST" action="/posts/<%= _id %>/comments">
            <label for='user'><%= locals.currentUser.username %>, make a comment:</label>
            <input name='user' value='<%= locals.currentUser._id %>' hidden/>
            <br>
            <br>
            <div class="field">
              <label class="label" for='content'>Comments: </label>
              <div class="control has-icons-left has-icons-right">
                <textarea name='content'></textarea>
              </div>
            </div>
            <div class="control">
              <button class="button is-link is-small">Submit comment</button>
            </div>
            <br>
          </form>
          <% } %>
          <div class="commentsSection">
            <p style="font-weight: bold;"> Comments: </p>
            <hr>
            <% comments.forEach(comment => { %>
              <div>
                <img class="icon" src="<%= comment.user.picture %>" alt=":)">
                <span class="title-is-5">  <%= comment.user.username %>:</span>
                <span class="title-is-5"> <%= comment.content %> </span>
                <% if(locals.isLoggedIn){ %>
                  <form class="delete-form"  style="display: inline-block" method="POST" action="/posts/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
                    <button class="button is-rounded is-small"><i class="far fa-trash-alt"></i></button>
                  </form>
                  <% } %>
              </div>
                <% }) %>
              </div>
              <br>
            </div>
            <a href="/posts"><button class="button"> Return to gallery </button></a>
          </div>
        </div>
